<%- include('partials/homeHeader') %>

<div class="topnav">
  <div class="logo">
    <img src="/css/home/images/meditrackLogo.png" alt="Logo" />
    <h2>MediTrack</h2>
  </div>
  <div class="nav-links">
    <a href="home">Home</a>
    <a href="records">Records</a>
    <a href="blogs">Blogs</a>
    <a href="about">About</a>
  </div>
</div>

<section class="aboutContent">
  <br>
  <br>
  
  <h2>About Us</h2>
  <br />
  <p>
    Welcome to Meditrack, our website is a personal health record management
    system that allows patients to store, manage, and share their medical
    records securely. The system is designed to provide patients with a secure
    and user-friendly platform to maintain their medical history, including
    doctor's visits, medications, allergies, and lab results. Patients can
    access their records anytime, anywhere, and can share them with healthcare
    providers, family members, or caregivers. Meditrack also enables patients to
    track their medication adherence, monitor chronic conditions, and receive
    important reminders and alerts to help them stay on top of their health. The
    system integrates with wearable devices and health trackers, allowing
    patients to track their fitness goals and monitor their progress over time.
    Meditrack uses state-of-the-art encryption methods to protect patients' data
    and guarantees that their information will never be shared without their
    consent. By joining the Meditrack community, patients can take control of
    their healthcare journey, manage their medical records, and communicate
    effectively with their healthcare providers.
  </p>
  <br />
  <h2>Our Mission</h2>
  <p>
    Our mission is simple yet profound: to empower individuals to take control
    of their health information and ensure that it is readily accessible when
    needed most. We believe that access to your medical records should be swift,
    secure, and straightforward.
  </p>
  <br />
  <h2>Key Features</h2>
  <ul>
    <li>
      Secure Storage: Meditrack is your authorized, confidential repository for
      all your medical documents. We take your privacy and security seriously,
      ensuring that no unauthorized access is granted to your personal health
      data.
    </li>
    <li>
      Universal Compatibility: We recognize that your health information can
      come in various formats. Meditrack allows you to store any type of medical
      file, whether it's prescriptions, test results, vaccination records, or
      doctor's notes.
    </li>
    <li>
      User-Friendly Interface: Meditrack's intuitive design makes it effortless
      for users of all levels of tech-savviness. Easily upload, organize, and
      retrieve your medical documents with a few clicks, giving you peace of
      mind knowing your health information is at your fingertips.
    </li>
    <li>
      Stylish User Interface: We understand that aesthetics matter, and our
      platform reflects that. Meditrack boasts a sleek and modern user interface
      that not only makes the process of managing your medical records easy but
      also visually pleasing.
    </li>
  </ul>

  <br />
  <h2>Why Choose Meditrack?</h2>
  <ol>
    <li>
      Peace of Mind: In emergency situations, having instant access to your
      medical history can make all the difference. With Meditrack, you can trust
      that your information is securely stored and readily available.
    </li>
    <li>
      Privacy and Security: Meditrack is committed to maintaining the highest
      level of data security. We employ industry-standard encryption to ensure
      your sensitive information remains confidential.
    </li>
    <li>
      Flexibility: Our platform is compatible with a wide range of medical file
      types, offering flexibility for your specific needs.
    </li>
    <li>
      User-Centric Design: We put you first, prioritizing user experience and
      accessibility.
    </li>
    <li>
      Stunning Interface: We believe that a beautiful interface enhances your
      experience, making Meditrack a joy to use.
    </li>
  </ol>

  <p>
    Meditrack is your partner in ensuring that your medical information is never
    out of reach. Join us today and experience the peace of mind that comes with
    having your vital medical documents securely stored and easily accessible in
    times of need. Your health, your data, your peace of mind - that's
    Meditrack.
  </p>
</section>

<div class="copyright">
  <p>© 2023 Meditrack. All rights reserved.</p>
</div>
