<%-include('partials/homeHeader') %>

<div class="topnav">
  <div class="logo">
    <img src="/css/home/images/meditrackLogo.png" alt="Logo" />
    <h2>MediTrack</h2>
  </div>
  <div class="nav-links">
    <form><button> Home</button></form>
    <form><button> Records</button></form>
    <form><button> Blogs</button></form>
    <form method="get" action="/about"><button> About </button></form>
  </div>
</div<button></button>
<div class="home-image">
  <img src="/css/home/images/home-img.svg" />
</div>

<div class="home">
  <div class="content">
    <h3>Stay Safe, Stay Healthy</h3>
    <p>Welcome to a world of wellness and innovation at MediTrack.</p>
  </div>
  <form method="get" action="/records">
    <button class="explore-button">
      Explore <span class="arrow-icon">&#9654</span>
    </button>    
  </form>
</div>
