<%- include('partials/homeHeader') %>

<div>
  <h1>Uploaded Files</h1>
  <div id="list">
   fdsfsdfs
  </div>
</div>


<script>

  const land = document.getElementById('list')
  land.innerHTML = 'dfdfddffddf'
  

</script>